<!DOCTYPE html>
<html>
  <head>
    <title>LeveledUpLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header" class="clearfix">
			
			<h1>Leveled Up Learning</h1>
			<h2>Bootcamp just got a little easier</h2>
			<% if user_signed_in? %>
			<div class="links right">
				<ul>
          <%= link_to "My Profile", '#'%>
          <%= link_to "Help", '#' %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
				</ul>
			</div>
			
        <div class="tabs">
          <ul>
            <%= link_to "Training", root_path %>
            <%= link_to "Decks", user_memory_decks_path(current_user)  %>
            <%= link_to "Memory Cards",user_memory_cards_path(current_user) %>
          </ul>
        </div>
      <% end %>
		</div>

    <%= yield %>
  </body>
</html>
