<!DOCTYPE html>
<html>
  <head>
    <title>LeveledUpLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header" class="clearfix">
			
			<h1>Leveled Up Learning</h1>
			<h2>Bootcamp just got a little easier</h2>
			<div class="links right">
				<ul>
					<li><a href="#" class="first">My Profile</a></li>
					<li><a href="#">Help</a></li>
          
					<li><a href="#" class="last">Sign Out</a></li>
				</ul>
			</div>
			
			
			<div class="tabs">
				<ul>
					<li><a href="#">Training</a></li>
					<li><a href="#" class="active">Decks</a></li>
					<li><a href="#">Memory Cards</a></li>
				</ul>
			</div>
		</div>

    <%= yield %>
  </body>
</html>
